Test/FlowSamples/PAMUSwitch.json
{
  "name": "3153d4d3-ea76-4bf8-9fd0-20dba68dd98f",
  "id": "/providers/Microsoft.Flow/flows/3153d4d3-ea76-4bf8-9fd0-20dba68dd98f",
  "type": "Microsoft.Flow/flows",
  "properties": {
    "apiId": "/providers/Microsoft.PowerApps/apis/shared_logicflows",
    "displayName": "Button -> List records,Apply to each,Update a record",
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {},
              "required": []
            }
          }
        }
      },
      "actions": {
        "List_records": {
          "runAfter": {},
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "accounts",
              "$filter": "contains(name, 'Test')"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Switch": {
          "runAfter": {
            "List_records": [
              "Succeeded"
            ]
          },
          "cases": {
            "Case": {
              "case": "Tyrell Wellick",
              "actions": {}
            },
            "Case_2": {
              "case": "Phillip Price",
              "actions": {
                "Update_a_record": {
                  "runAfter": {},
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "accounts",
                      "recordId": "@outputs('List_records')['body/value'][0]['accountid']"
                    },
                    "authentication": {
                      "type": "Raw",
                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "actions": {}
          },
          "expression": "@outputs('List_records')['body/value'][0]['name']",
          "type": "Switch"
        }
      },
      "outputs": {}
    },
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "source": "Embedded",
        "id": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
        "tier": "NotSpecified"
      }
    },
    "flowFailureAlertSubscribed": false
  }
}